<p style="color: green"><%= notice %></p>

<h1>Liquid</h1>
<p>簡単に使える待合ツール</p>

<%= link_to "ルーム一覧", rooms_path, class: "btn btn-primary" %>
<%= link_to "ルーム作成", new_room_path, class: "btn btn-success" %>
<%= link_to "マイページ", edit_user_registration_path, class: "btn btn-danger" %>
