<div id="<%= dom_id room %>" class="card col">
  <div class="card-body">
    <h2><%= room.name %></h2>
    <p><%= room.tickets.alive.size %>人待ち</p>
    <%= link_to "ルームへ", room, class: "btn btn-primary" %>
  </div>
</div>
