<p style="color: green"><%= notice %></p>

<h1>Rooms</h1>

<div id="rooms" class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
  <% @rooms.each do |room| %>
    <div class="m-2">
      <%= render room %>
    </div>
  <% end %>
</div>

<%= link_to "ルーム作成", new_room_path, class: "btn btn-success" %>
